/* General styles for all dashboards */
.dashboard {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1% 2%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .name{
margin-left:0;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    padding: 40px;
    background-color: rgba(244, 244, 244,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:auto;
}

.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin: 15px 0;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}



